<div class="container mt-2">
  <h1>Gerenciamento de Usuários</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Usuários</h5>
          <p class="card-text">Lista de usuários</p>
          <a class="btn btn-primary" (click)="user()">Acessar</a>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Departamentos</h5>
          <p class="card-text">Lista de Departamentos</p>
          <a class="btn btn-primary" (click)="department()">Acessar</a>
        </div>
      </div>

    </div>
  </div>
</div>
